!!!
html
  head
    title Lights
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body!= body
    script(src="/socket.io/socket.io.js")
    != js('vendor/jquery-1.7.1.min')
    != js('vendor/underscore')
    != js('vendor/backbone')
    != js('app')
