!!!
html
  head
    title Lights
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

    != js('vendor/jquery-1.7.1.min')
    != js('vendor/underscore')
    != js('vendor/backbone')
    != js('app')
