* {
  margin:0;
  padding:0;
}

body {
  background-color:black;
  /* overkill? */
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
  "Myriad Pro", Myriad, Geneva, Arial, "Lucida Grande", sans-serif;
  line-height:1.5em;
  height:100%;
  width:100%;
  font-size:18px;
}

h1, h2 {
  margin-top:10px;
  margin-bottom:10px;
}

#header {
  color:#222;
  position:relative;
  top:0;
  width:50%;
  box-shadow: 5px 5px 20px #222;
  background-color:#eee;
  padding:15px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #888;
  border-top:0;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#title {
  display:inline;
  float:left;
  position:relative;
  top:-10px;
  font-size:40px;
}
#palette {
  list-style:none;
  display:inline;
  float:left;
  margin-left:50px;
}

.paletteColor {
  width: 40px;
  display:inline;
  float:left;
  border:2px solid #666;
  border-radius:5px;
  margin-right:1px;
}

.selected {
  border-color:#333;
}

#zoomers {
  margin-left:40px;
}

#lights {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  cursor:pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* about page styling */

#about {
  margin-top: 40px;
  margin-bottom: 40px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  background-color:#eeeeee;
  padding:20px;
  border-radius:5px;
}

#libraries {
  margin-left:20px;
  list-style:disc;
  padding:10px;
}
