#about

  h2#code Contribute
  p Want to hack on MMOLB? Head on over <a href="http://github.com/clutchski/mmolb">here</a> for the source and build instructions.

  h2#shoutouts Shout Outs
  p Holla to all the free and open source projects that are running this thing:

  ul#libraries
    li
      a(href="http://nodejs.org") Node.js
    li
      a(href="http://socket.io")  Socket.io
    li
      a(href="http://www.mongodb.org") MongoDB
    li
      a(href="http://expressjs.com/") Express
    li
      a(href="https://github.com/christkv/node-mongodb-native") node-mongodb-native
    li
      a(href="http://underscorejs.org") Underscore.js
    li
      a(href="http://backbonejs.org") Backbone.js
    li
      a(href="http://jquery.com") jQuery
    li
      a(href="http://github.com/harthur/color") Color
    li
      a(href="http://vowsjs.org") Vows

  p And to the all folks contributing to an open web.

  h2#license License
  p MMOLB is open sourced under the <a href="http://www.gnu.org/copyleft/gpl.html">GPL</a>.
